<div class="hmtop">
    <!--顶部导航条 -->
    <div class="am-container header">
        <ul class="message-l">
            <div class="topMessage">
                <div class="menu-hd" id="welcome-info">
                    <!--未登录-->
                    <!--跨域问题-->
                    <!--<a href="http://localhost:9093/toLogin" target="_top" class="h">亲，请登录</a>-->
                    <!--<a href="http://localhost:9093/toRegister" target="_top">免费注册</a>-->
                    <!--&lt;!&ndash;已登录&ndash;&gt;-->
                    <!--欢迎<span>VIP</span>-->
                    <!--<a href="http://localhost:9093/logout" target="_top">注销</a>-->
                </div>
            </div>
        </ul>
        <ul class="message-r">
            <div class="topMessage home">
                <div class="menu-hd"><a href="#" target="_top" class="h">商城首页</a></div>
            </div>
            <div class="topMessage my-shangcheng">
                <div class="menu-hd MyShangcheng"><a href="#" target="_top"><i class="am-icon-user am-icon-fw"></i>个人中心</a></div>
            </div>
            <div class="topMessage mini-cart">
                <div class="menu-hd"><a id="mc-menu-hd" href="#" target="_top"><i class="am-icon-shopping-cart  am-icon-fw"></i><span>购物车</span><strong id="J_MiniCartNum" class="h">0</strong></a></div>
            </div>
            <div class="topMessage favorite">
                <div class="menu-hd"><a href="#" target="_top"><i class="am-icon-heart am-icon-fw"></i><span>收藏夹</span></a></div>
        </ul>
    </div>

    <!--悬浮搜索框-->

    <div class="nav white">
        <div class="logo"><img src="images/logo.png" /></div>
        <div class="logoBig">
            <li><img src="images/logobig.png" /></li>
        </div>

        <div class="search-bar pr">
            <a name="index_none_header_sysc" href="#"></a>

            <form action="http://search.jdd.com/search/searchByKeywords/1/1">
                <input id="searchInput" name="productKeywords" type="text" placeholder="搜索" autocomplete="off">
                <input id="ai-topsearch" class="submit am-btn" value="搜索" index="1" type="submit">
            </form>

        </div>
    </div>

    <div class="clear"></div>
</div>

<script type="text/javascript">
    function checkLoginCallback(data) {
        var str = "";
        if(data.errno == 0){
            str += "欢迎<span>" + data.data.username + ", </span>";
            str += "<a href=\"http://sso.jdd.com/logout\" target=\"_top\">注销!</a>";
        }else{
            str += "<a href=\"http://sso.jdd.com/toLogin\" target=\"_top\" class=\"h\">亲，请登录</a>";
            str += "<a href=\"http://sso.jdd.com/toRegister\" target=\"_top\">免费注册</a>";
        }
        $("#welcome-info").html(str);
    }

    $.ajax({
        url:"http://sso.jdd.com/checkLoginForJsonp",
        dataType:"jsonp",
        jsonpCallback:"checkLoginCallback"
        // success:function(data){
        //     var str = "";
        //     if(data.errno == 0){
        //         str += "欢迎<span>"+data.data.username+"</span>";
        //         str += "<a href=\"http://localhost:9093/logout\" target=\"_top\">注销!</a>";
        //     }else{
        //         str += "<a href=\"http://localhost:9093/toLogin\" target=\"_top\" class=\"h\">亲，请登录</a>";
        //         str += "<a href=\"http://localhost:9093/toRegister\" target=\"_top\">免费注册</a>";
        //     }
        //     $("#welcome-info").html(str);
        // }
    })

</script>