<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <base href="/"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/uploadifive.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- 顶部按钮 -->
            <div class="col-md-4 col-md-offset-8">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addProductModal">添加</button>
                <button type="button" class="btn btn-danger" >删除</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <tr>
                        <td>
                            <div class="checkbox text-center">
                                <label>
                                    <input type="checkbox">全选
                                </label>
                            </div>
                        </td>
                        <td>ID</td>
                        <td>商品类别</td>
                        <td>商品名称</td>
                        <td>商品价格</td>
                        <td>商品卖点</td>
                        <td>商品图片</td>
                        <td>操作</td>
                    </tr>
                    <tr th:each="product : ${page.list}">
                        <td>
                            <div class="checkbox text-center">
                                <label>
                                    <input type="checkbox">
                                </label>
                            </div>
                        </td>
                        <td th:text="${product.id}"></td>
                        <td th:text="${product.typeName}"></td>
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.salePrice}"></td>
                        <td th:text="${product.salePoint}"></td>
                        <td><img th:width="140" th:height="140" th:src="${product.image}" src="#"></td>
                        <td>
                            <button type="button" class="btn btn-primary btn-xs" th:href="|/product/toUpdate/${product.id}|" data-toggle="modal" data-target="#updateProductModal">修改</button>
                            <button type="button" class="btn btn-danger btn-xs" th:onclick="|/product/del/${product.id}|">删除</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li><a href="#">首页</a></li>
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li th:class="${page.pageNum == num ? 'active' : ''}"  th:each="num : ${page.navigatepageNums}">
                                <a href="#" th:href="|product/page/${num}/${page.pageSize}|" th:text="${num}">1</a>
                            </li>

                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li><a href="#">尾页</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>

    <!--添加商品-->
    <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addProductModalLabel">添加商品</h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="product/add" id="addForm">
                        <div class="form-group">
                            <label for="typeName">商品类别</label>
                            <input value="电脑" type="text" class="form-control" id="typeName" name="typeName" placeholder="商品类别">
                            <input value="1" type="hidden" id="typeId" name="typeId">
                        </div>
                        <div class="form-group">
                            <label for="name">商品名称</label>
                            <input value="华为笔记本" type="text" class="form-control" id="name" name="name" placeholder="商品名称">
                        </div>
                        <div class="form-group">
                            <label for="price">商品价格</label>
                            <input value="6666" type="text" class="form-control" id="price" name="price" placeholder="商品价格">
                        </div>
                        <div class="form-group">
                            <label for="salePrice">商品售价</label>
                            <input value="6666" type="text" class="form-control" id="salePrice" name="salePrice" placeholder="商品售价">
                        </div>
                        <div class="form-group">
                            <label for="salePoint">商品卖点</label>
                            <input value="华为出品, 必是精品" type="text" class="form-control" id="salePoint" name="salePoint" placeholder="商品卖点">
                        </div>
                        <div class="form-group">
                            <label for="image" class="col-sm-2 control-label">商品图片</label>
                            <div class="col-sm-10">
                                <input type="file" id="chooseImage" name="files"/>
                                <!--图片回显-->
                                <img src="" id="showImage" width="140" height="140"/>
                                <!--保存上传成功后得到的图片地址-->
                                <input type="hidden" name="image" id="image"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="productDesc" class="col-sm-2 control-label">商品描述</label>
                            <div class="col-sm-10">
                                <!--保存整个富文本的html字符串-->
                                <input type="hidden" id="productDesc" name="productDesc.productDesc"/>
                                <div id="editor">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="add" onclick="">添加</button>
                </div>
            </div>
        </div>
    </div>

    <!--更新商品-->
    <!--<div class="modal fade" id="updateProductModal" tabindex="-1" role="dialog" aria-labelledby="updateProductModalLabel">-->
        <!--<div class="modal-dialog" role="document">-->
            <!--<div class="modal-content">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

</body>

<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/wangeditor@3.1.1/release/wangEditor.min.js"></script>
<script src="js/jquery.uploadifive.min.js"></script>
<script type="text/javascript">
    $(function () {
        //清理缓存
        $("#addProductModal").on("hidden.bs.modal", function () {
            $(this).removeData("bs.modal");
        });
        // $("#updateProductModal").on("hidden.bs.modal", function () {
        //     $(this).removeData("bs.modal");
        // });

        //图片上传
        $("#chooseImage").uploadifive({
            'buttonText'   : '选择',
            'uploadScript' : 'commonUpload',
            'fileObjName'  : 'files',
            'onUploadComplete' : function(file, resultStr) {
                //resultStr是字符串,要转json
                debugger
                var result = JSON.parse(resultStr);
                if(result.errno == 1){
                }else{
                    var imgUrl = result.data[0];
                    debugger
                    $("#showImage").attr("src",imgUrl);
                    $("#image").val(imgUrl);
                }
            }
        })

        //商品描述富文本编辑器
        var E = window.wangEditor;
        var editor = new E('#editor');
        // 自定义编辑菜单
        editor.customConfig.menus = [
            'head',  // 标题
            'bold',  // 粗体
            'fontSize',  // 字号
            'fontName',  // 字体
            'italic',  // 斜体
            'foreColor',  // 文字颜色
            'backColor',  // 背景颜色
            'justify',  // 对齐方式
            'emoticon',  // 表情
            'image',  // 插入图片
            'undo',  // 撤销
            'redo'  // 重复
        ];
        editor.customConfig.uploadImgServer = '/common/upload';
        editor.customConfig.uploadFileName = 'files';
        editor.create();

        //提交
        $("#add").click(function () {
            alert("添加");
            //先要校验
            //商品描述赋值
            $("#productDesc").val(editor.txt.html());
            // $("#productDesc").val("商品描述");
            $("#addForm").submit();
        })
    })

</script>
</html>