<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tr>
                    <td>
                        <div class="checkbox text-center">
                            <label>
                                <input type="checkbox">全选
                            </label>
                        </div>
                    </td>
                    <td>商品名称</td>
                    <td>商品价格</td>
                    <td>数量</td>
                    <td>小计</td>
                    <td>操作</td>
                </tr>
                <tr th:each="orderItem : ${orderItems}">
                    <td>
                        <div class="checkbox text-center">
                            <label>
                                <input type="checkbox">
                            </label>
                        </div>
                    </td>
                    <td th:text="${orderItem.productName}"></td>
                    <td th:text="${orderItem.productPrice}"></td>
                    <td th:text="${orderItem.productCount}"></td>
                    <td th:text="${orderItem.money}"></td>
                    <td><img th:width="140" th:height="140" th:src="${orderItem.productImage}" src="#"></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <!-- 顶部按钮 -->
        <div class="col-md-4 col-md-offset-8">
            <button type="button" class="btn btn-danger" >去支付</button>
        </div>
    </div>
</div>


</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</html>