<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
您注册的账号名是：<span th:text="${username}">VIP</span>,请点击以下链接，完成激活
<a href="http://www.baidu.com">http://www.baidu.com</a>
</body>
</html>